.form{
    display: flex;
    flex-direction: column;
    margin: 2rem ;
    &__item{
        display: flex;
        flex-direction: column;
        &:first-child{
            margin-bottom: 1rem;
        }
        &--input{
            &:focus{
                outline: none;
                border: 2px solid var(--color-primary-dark);
            }
            border: 2px solid var(--color-primary);
            background-color: transparent;
            width: 30rem;
            height: 3.5rem;
            border-radius: 1rem;
            padding: 1rem;
        }
        &--label{
            margin: 1rem 0;
        }
    }
}
.btn-primary{
    align-self: flex-end;
    border: 2px solid var(--color-primary);
    padding: 1rem 4rem;
    background-color:transparent;
    border-radius: 1rem;
    margin: 2rem 0;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    font-weight: 700;
    color: var(--color-primary-dark);
    transition: .5s;
    &:hover{
        background-color: var(--color-primary);
        color: var(--color-white);
        box-shadow: var(--box-shadow-med);
    }
}