
.mat-mdc-progress-spinner{
    --mdc-circular-progress-active-indicator-color: var(--color-primary) !important;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}