<div class="component" [ngClass]="isOpen ? 'open' : 'close'">
    <div class="component__header">
        <h2 class="component__header--title">{{title}}</h2>
        <button class="btn-icon" (click)="toggleIsOpen()" *ngIf="hasMinimizeButton">
            <ng-container *ngIf="isOpen; else close">
                <!-- btn minus -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </ng-container>
            <ng-template #close>
                <!-- btn plus -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>            
            </ng-template>
        </button>
    </div>
    <div [class]="scrollContainer ? 'component__scroll custom-scrollbar' : ''">
        <ng-content></ng-content>
    </div>
</div>